$primary-color:#D5EAF5;
$font-color:#020112;


.todo_item{
  background-color: $primary-color;
  color: $font-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-radius: 3px;
  position: relative;
}

.title{
  font-size: 1.4rem;
  font-weight: bold;
  background-color: red;
}

//  ${!status && `${style.status_false}`}`

.todo_links{
display: flex;
gap: 1.5rem;
align-items: center;
}

.edit{
  font-size: 1.5rem;
  color: #005D98;
  cursor: pointer;
}
.delete{
  font-size: 1.5rem;
  color: #FF2E4C;
  cursor: pointer;
  background-color: transparent;
}

// dynamic class
.status_false::before{
  content: "";
  position: absolute;
  width: 10%;
  height: 2px;
  left: 5%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: #005D98;
}